body {
    font-family: 'Montserrat', sans-serif;
}
/* nav buton düzeni */
.nav-link.btn {
    transition: all 0.3s ease-in-out;
    /* Buton hover efekti için geçiş süresi ve tipi */
}

.navbar-nav .nav-link {
    font-size: 18px;
    /* Yazı büyüklüğü */
    color: black;
    /* Yazı rengi */
}

.nav-link.btn:hover {
    transform: scale(1.1);
    /* Buton büyütme efekti */
    background-color: rgba(0, 0, 0, 0.2);
    /* Butonun üzerine gelindiğinde arka plan rengi */
}
.navbar-nav .nav-link {
    position: relative;
    color: black;
    transition: color 0.3s;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
}

.navbar-nav .nav-link:hover {
    color: white;
    background-color: #18772c;
    border-radius: 5px;
    /* Hover rengi */
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
    transition: width 1s;
}
